<%- include("partials/header.ejs") %>

<form action="/toview" method="POST">
    <label for="title">Enter the title of the blog you want to view</label>
    <input type="text" name="title">
    <input type="submit" value="View">
</form>

<%- include("partials/footer.ejs") %>